<div class="container-fluid margin">
    <div class="row">
        <div class="offset-1 col-10 col-md-7">
            <div class="row product" *ngFor="let product of products">
                <div class="col-5 col-md-4 col-xl-3">
                    <img class="card-img mt-2" height="220" [src]="product.image" routerLink="/details/{{product.id}}">
                </div>
                <div class="col-7 col-md-8 col-xl-9">
                    <h2 class="mt-2">{{product.title}}</h2>
                    <h3>Quantity: {{product.quantity}}</h3>
                    <h4>Category: {{product.category}}</h4>
                    <span>Price : {{product.price}}</span><br>
                    <button class="btn btn-primary mt-3" (click)="removeItem(product.id)">
                        <div class="d-flex justify-content-center">
                            <mat-icon>remove_shopping_cart</mat-icon>
                            <span>Remove</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="offset-1 offset-md-0 col-10 col-md-4">
            <div class="card">
                <div class="card-title m-4">
                    <h3>Total Item : {{total_quantity}}</h3>
                    <h1>Total Amount : Rs.{{total}}</h1>
                    <span>No Delivery charge !</span>
                </div>
                <div class="card-body">
                    <button class="btn btn-success mt-1 ml-2" (click)="placeOrder()">Place Order</button>
                    <button class="btn btn-warning mt-1 ml-2" (click)="removeAll()">Remove All</button>
                </div>
            </div>
        </div>
    </div>
</div>