.card{
    margin-bottom: 20px;
    height: 380px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}
.card:hover{
    box-shadow: 0 2px 8px rgba(80, 20, 218, 0.3);
}
.card-img-top{
    outline: none;
    padding: 15px;
}
.card-title{
    font-weight: 500;
    font-size: medium;
    outline: none;
}
.card-body{
    outline: none;
}
.cart{
    margin-right: 15px;
}
.right{
    float: right;
}
.margin{
    margin-top: 100px;
}
.card-text{
    padding-left: 15px;
}
.add{
    cursor: pointer;
}